{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/event_list.css' %}">
{% endblock %}

{% block content %}
<div class="full-height-container" id="event-list-container">
    <div id="event-title" class="modal">
        <h2>Events</h2>
    </div>
    <div id="event-list" class="modal">
        {% for event in events %}
            <a href="{% url 'event_detail' event.pk %}">
                <div class="event-card">
                    <h3>{{ event.name }}</h3>
                    <p class="event-name-line">{{ event.venue_name }} -  {{ event.event_date }}</p>
                    <p class="event-description">{{ event.description }}</p>
                    <p class="event-cta">Click to see more...</p>
                </div>
            </a>
        {% endfor %}
    </div>
</div>

{% if user.is_authenticated %}
<a href="{% url 'event_create' %}">Add New Event</a>
{% endif %}
{% endblock %}