{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/event_detail.css' %}">
{% endblock %}

{% block content %}

<!-- <img src="{{ event.image.url }}" alt="{{ event.name }}">
<a href="{% url 'event_edit' event.pk %}">Edit</a>
<a href="{% url 'event_delete' event.pk %}">Delete</a> -->


<div id="event-container" class="full-height-container">
    <div id="event-title" class="modal">
        <h2 class="rainbow-text">{{ event.name }} - {{ event.venue_name }}</h2>
    </div>
    <div id="event-info-container" class="modal">
        <h3>Event Overview</h3>

        <a id="event-signup" href="#">
            <button class="link-button">Sign up</button>
        </a>

        <section>
            <h4>Date</h4>
            <p>{{ event.event_date }}</p>
        </section>

        <section>
            <h4>Location</h4>
            <p>{{ event.venue_address }}</p>
        </section>

        <section>
            <h4>Entry Fee</h4>
            <p>{{ event.entry_fee }}</p>
        </section>

        <section>
            <h4>More...</h4>

            <p>{{ event.description }}</p>
        </section>
    </div>
</div>

{% endblock %}