{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/events.css' %}">
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/event_detail.css' %}">
{% endblock %}

{% block content %}
<div class="spacer"></div>
<h2>{{ event.name }}</h2>
<p>{{ event.description }}</p>
<p>{{ event.event_date }}</p>
<p>{{ event.venue_name }}</p>
<p>{{ event.venue_address }}</p>
<p>{{ event.entry_fee }}</p>
<img src="{{ event.image.url }}" alt="{{ event.name }}">
<a href="{% url 'event_edit' event.pk %}">Edit</a>
<a href="{% url 'event_delete' event.pk %}">Delete</a>


<main>
    <div id="event-container" class="full-height-container">
        <div id="event-title" class="modal">
            <h2 class="rainbow-text">Event title</h2>
        </div>
        <div id="event-info-container" class="modal">
            <h3>Event Overview</h3>

            <a id="event-signup" href="#">
                <button class="link-button">Sign up</button>
            </a>

            <section>
                <h4>Dates</h4>
                <p>20th & 21st July 2024</p>
            </section>
            
            <section>
                <h4>Location</h4>
                <p>The Left Lion, Nottingham...</p>
            </section>
            
            <section>
                <h4>More...</h4>

                <p>Detailed information about this event. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </section>
        </div>
    </div>
</main>

{% endblock %}