/* Add Google Fonts Montserrat and Poppins */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Header */

header {
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 1rem 2rem;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    background: linear-gradient(to left, #f20519, #710273, #0511F2, #0B8C07, #F2E307, #F20519, #710273, #0511F2);
    background-clip: text;
    color: transparent;
    width: fit-content;
}

nav {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    line-height: 2rem;
}

nav ul {
    display: flex;
    gap: 1rem;
}

nav li {
    list-style: none;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a.active {
    text-decoration: underline;
}