{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Meta tags: Essential for responsive design and basic HTML structure -->
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Find and host pride events in your area. Celebrate pride with the community.">
    <meta name="keywords" content="pride events, LGBTQ, host pride events, find pride events, community events, pride celebrations">
    <meta property="og:title" content="PrideFest - Celebrate Pride with the Community">
    <meta property="og:description" content="Find and host pride events. Celebrate pride with the community.">
    <meta property="og:type" content="website">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <!-- Bootstrap and custom CSS: Load external and internal stylesheets -->
    {% block corecss %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <!-- JavaScript libraries: Includes jQuery, Bootstrap JS, Font Awesome, and Stripe -->
    {% block corejs %}
    <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <!-- Page title: Adjustable based on the specific page or section -->
    <title>PrideFest {% block extra_title %}{% endblock %}</title>

</head>

<body>
    {% include 'includes/navbar.html' %}

    {% block content %}
    {% endblock %}

    {% include 'includes/footer.html' %}

    {% block postloadjs %}
    {% endblock %}
</body>

</html>